@font-face {
    font-family: 'Quarion';
    src: url('Quarion-Medium.eot');
    src: local('Quarion Medium'), local('Quarion-Medium'),
        url('../fonts/Quarion-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quarion-Medium.woff2') format('woff2'),
        url('../fonts/Quarion-Medium.woff') format('woff'),
        url('../fonts/Quarion-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
